body {
  font-family: 'Oxygen';
}
  {
   padding:0px;
   margin:0px;
  }
  .logo {
   display: inline-block;
   vertical-align: top;
   width: 43px;
   height: 50px;
   padding: 12px 10px;
  }

  /*top navbar*/
  .topnav {
   overflow: hidden;
   background-color: #fffff ;
   height:45px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  #nav-image {
    margin-left: 0px;
    margin-bottom: 0px;
  }

  /*top navbar setup*/
  .topnav a {
   float: right;
   display: inline;
   color: black;
   text-align: center;
   padding: 14px;
   text-decoration: none;
   font-size: 17px;
  }

  /*Joe's Nav-bar CSS*/
  /*Navbar*/


  a > span {
    color: white;
  }

  #nav-image {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .container-fluid {
    padding: 0px;
  }

  .navbar-right {
    margin-right: 15px;
    /*padding-top: 10px;*/
    margin-top: 10px;
  }

  #signup {
    background-color: rgb(255, 153, 153);
    border-radius: 5px;
    margin-right: 20px;
    padding: 10px;
    color: white;
  }

  #login {
    /*background-color: rgb(255, 153, 153);*/
    border-radius: 5px;
    margin-right: 5px;
    /*padding: -30px;*/
    color: white;
    padding: 10px;
  }

  #signup > a {
    color: white;
  }

  .navbar {
  	/* background-color: #f8f8f8; */
    margin-bottom: 1px;
  	border-bottom: 1px solid #ccc;
  	;
  }

  .navbar-default {
  	background-color: #ffffff;
  }
  .nav>li>a {
    padding: 0px;
  }

  #wrapper {
    margin-top: 60px;
  }

  /*end of Joe's shit/

  /*hover turn gray*/
  .topnav a:hover {
   background-color: #ddd;
   color: black;
  }

  .navbar-default {
    min-height:20px;
   }

  /*Sign Up is red*/
  .topnav a.active {
     background-color: tomato;
     color: white;
  }

  ul li {
 list-style-type:none;
 display:block;
 padding:10px;
}


ul li:hover {
 margin-left:10px;
 transition:linear all 0.30s;
}

ul li ul li {
 display:none;
}

ul li:hover ul li {
 display:block;
 margin-left:10px;
 margin-right:10px;
 margin-top:5px;
 margin-bottom:5px;
 transition:linear all 0.30s;
 background-color:#646464 ;
 padding:1px 1px;
}

  /*Search Bar*/
  .search {
   width: 100%;
   position: absoulute;
   padding-top: 15px;
  }
  /*Search Bar attributes*/
  .searchTerm {
   float: left;
   width: 100%;
   border: 1px solid #e7e7e7;
   padding: 7px;
   height: 30px;
   border-radius: 5px;
   outline: none;
   color: gray;
  }


  .searchTerm:focus {
   color: ;
  }
  /*Search Button attributes*/
  .searchButton {
   position: absolute;
   right: -40px;
   width: 28px;
   height: 30px;
   border: 2px solid gray;
   background: white;
   text-align: center;
   color:  #e7e7e7;;
   border-radius: 3px;
   cursor: pointer;
   font-size: 20px;
  }
  /*Search bar sizing*/
  .wrap {
   width:78%;
   position: absolute;
   top: 9%;
   left: 100px;
   display:block;

  }

  .containers {
    position: absolute;
    left: 200px;
    top: 200px;
    right: -200px;
    width: 1300px;
    padding: 5px;
    outline: 3px solid black;
  }

  .container {
    position: absolute;
    left: 200px;
    top: 1000px;
  }

  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
  body {
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bea2e7+0,86b7e7+100 */
    background: #bea2e7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bea2e7', endColorstr='#86b7e7',GradientType=0 );
    /* IE6-9 */
  }

  .container ul {
    margin: 0;
    margin-top: 100px;
    list-style: none;
    position: relative;
    padding: 1px 100px;
    color: #fff;
    font-size: 13px;
  }
  .container ul:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed #fff;
  }
  .container ul li {
    position: relative;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px;
    border-radius: 6px;
    width: 250px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
  }
  .container ul li:not(:first-child) {
    margin-top: 60px;
  }
  .container ul li > span {
    width: 2px;
    height: 100%;
    background: #fff;
    left: -30px;
    top: 0;
    position: absolute;
  }
  .container ul li > span:before, .container ul li > span:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    background: #86b7e7;
    left: -5px;
    top: 0;
  }
  .container ul li span:after {
    top: 100%;
  }
  .container ul li > div {
    margin-left: 10px;
  }
  .container div .title, .container div .type {
    font-weight: 600;
    font-size: 12px;
  }
  .container div .info {
    font-weight: 300;
  }
  .container div > div {
    margin-top: 5px;
  }
  .container span.number {
    height: 100%;
  }
  .container span.number span {
    position: absolute;
    font-size: 10px;
    left: -35px;
    font-weight: bold;
  }
  .container span.number span:first-child {
    top: 0;
  }
  .container span.number span:last-child {
    top: 100%;
  }





  body {
    height: 100%; /* important! */
  }

  /* Start Sidebar Styles */
  .sidebar-wrapper {
    min-width: 30px;
    width: 200px;
    height: 100%;
    position: fixed; /* you can customize here */
    z-index: 1;
    box-sizing: border-box;
  }

  .sidebar-wrapper.is-stacked {
    position: fixed;
    top: 0;
    left: 0;
  }

  .sidebar-wrapper[aria-expanded='false'] {
    width: 56px;
  }

  .sidebar-wrapper .sidebar-inner {
    width: 100%;
    height: inherit;
    border-right: 1px solid #ccc;
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    bottom: auto;
  }

  /* sidebar body */
  .sidebar-wrapper .sidebar-inner .sidebar-body {
    box-sizing: content-box;
    width: 100%;
    cursor: pointer;
    overflow-y: auto;
    position: absolute;
    bottom: 40px;
    top: -48px;
  }

  .sidebar-wrapper .sidebar-body .page-header {
    margin: 30px 20px 5 15px;
  }

  /* Start navigation */
  .sidebar-wrapper .sidebar-body .navgroup {
    display: block;
  }

  .sidebar-wrapper .navgroup .nav-heading {
    margin: 15px 15px 0 15px;
    border-top: 1px solid #ccc;
    padding: 15px 0;
    color: #707070;
  }

  [aria-expanded='false'] .navgroup .nav-heading {
    display: none;
  }

  .navgroup .nav-heading .assistive {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .sidebar-wrapper .navgroup .nav-heading:first-child {
    border-top: 0;
  }

  .sidebar-wrapper .navgroup .nav {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
  }

  [aria-expanded='false'] .navgroup .nav {
    display: block;
    height: auto;
  }

  .sidebar-wrapper .navgroup .nav li {
    padding: 0 15px;
  }

  [aria-expanded='false'] .navgroup li {
    display: block;
  }

  .navgroup .nav li a {
    text-decoration: none;
    display: block;
    margin: 0 -15px;
  }

  .sidebar-wrapper[aria-expanded='false'] .nav li a {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }

  .navgroup-vertical .nav li >a {
    padding: 7px 10px;
    word-wrap: break-word;
  }

  .navgroup-vertical .nav li a:hover,
  .navgroup-vertical .nav li a:focus {
    background: #e6e6e6;
  }

  .navgroup .nav .nav-icon {
    font-size: 18px;
    color: #707070;
    margin: 0 5px 0 0;
    vertical-align: baseline;
  }

  [aria-expanded='false'] .nav .nav-icon {
    margin-left: 18px;
    margin-right: 0;
  }

  .navgroup .nav .nav-item-label {
    color: #3572b0;
  }

  [aria-expanded='false'] .navgroup .nav .nav-item-label {
    display: none;
  }
  /* sidebar footer */
  .sidebar-wrapper .sidebar-inner .sidebar-footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    min-height: 40px;
    border-top: 1px solid #ccc;
    padding: 5px 40px 0 9px;
    box-sizing: border-box;
  }

  .is-stacked .sidebar-inner .sidebar-footer {
    bottom: 0;
  }

  .sidebar-wrapper .sidebar-footer .sidebar-toggle {
    display: block;
    padding: 9px 15px;
    position: absolute;
    top: 0;
    right: 0;
    text-overflow: clip;
    white-space: normal;
    text-align: right;
    width: 100%;
  }

  [aria-expanded='false'] .sidebar-footer {
    overflow: hidden;
    padding: 5px 0 0 0;
    box-sizing: border-box;
  }

  [aria-expanded='false'] .sidebar-footer .sidebar-toggle {
    text-overflow: clip;
    white-space: normal;
    width: 25px;
    position: relative;
    padding: 10px 20px;
    margin: -5px 0 0 -10px;
    text-align: center;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }


  .sidebar-wrapper .sidebar-footer .sidebar-toggle:hover,
  .sidebar-wrapper .sidebar-footer .sidebar-toggle:focus {
    background: #e6e6e6;
    color: #707070;
    text-shadow: none;
    cursor: pointer;
  }
    /*side-bar-header*/
  [aria-expanded='false'] .sidebar-header .sidebar-toggle {
      text-overflow: clip;
      white-space: normal;
      width: 25px;
      position: relative;
      padding: 10px 20px;
      margin: -5px 0 0 -10px;
      text-align: center;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }

    .sidebar-wrapper .sidebar-header .sidebar-toggle:hover,
    .sidebar-wrapper .sidebar-header .sidebar-toggle:focus {
      background: #e6e6e6;
      color: #707070;
      text-shadow: none;
      cursor: pointer;
    }


  [aria-expanded='false'] .sidebar-footer .sidebar-toggle {
    text-overflow: clip;
    white-space: normal;
    width: 25px;
    position: relative;
    padding: 10px 20px;
    margin: -5px 0 0 -10px;
    text-align: center;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  /* -------------------------
     Optional styles
     ------------------------- */
  .navigation-bar {
    background: #252525;
    position: relative;
  }

  .navigation-bar .nav-menu {
    padding: 0;
    margin: 0;
    display: block;
  }

  .navigation-bar .nav-menu li {
    display: inline-block;
  }

  .nav-menu li a {
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    color: #fff;
  }

  .nav-menu li a:hover {
    color: #eee;
  }

  /* content */
  .content {
    height: inherit;
    clear: both;
    box-sizing: border-box;
    position: relative;
  }

  .content:before {
    content: " ";
    display: table;
    clear: both;
  }

  .content .content-wrapper {
    float: left;
    min-width: 1024px;
    min-height: 480px;
    padding-left: 300px;
  }

  [aria-expanded='false'] ~ .content-wrapper {
    padding-left: 56px;
  }

  .content .content-wrapper .content-inner {
    padding: 20px;
  }

/* View.js */
.content-header {
  position: absolute;
  left: 300px;
  top: 150px;
  right: -200px;
  width: 1300px;
  padding: 5px;
  outline: 3px solid grey;
  text-align: left;
  color: teal;
  font-size: 15px;
}



/* Search Bar */
.search {
 width: 100%;
 position: absolute;
 padding-top: 7px;
 left: 75px;
}
/*Search Bar attributes*/
.searchTerm {
 float: left;
 width: 100%;
 border: 1px solid gray;
 padding: 7px;
 height: 30px;
 border-radius: 3px;
 outline: none;
 color: teal;
}

.searchTerm:focus {
 color: teal;
}
/*Search Button attributes*/
.searchButton {
 position: absolute;
 right: -40px;
 width: 28px;
 height: 30px;
 border: 1px solid gray;
 background: white;
 text-align: center;
 color: white;
 border-radius: 3px;
 cursor: pointer;
 font-size: 20px;
}

.wrap {               /* wrap of the searchbar*/
 width:78%;
 position: absolute;
 top: 9%;
 left: 150px;
 display:block;

}

/* timeline */

body {
	background:#111;
	font-size:18px;
	color:#FFF;
}
h1 {
  font-size:2em;
  text-align:left;
  margin:20px 0 40px;
  padding:0;
  position: absolute;


}
.container {
  position: absolute;
  top: 400px;
  left: 200px;
  width: 1100px;

}
.right-content, .left-content {
	float:left;
	display:block;
	width:40%;
	padding:1% 2%;
  padding: 10px;

}
.left-content {
	border-right:5px dotted #111;
	text-align:right;

}
.left-content p {
	margin:150px 0 0;
  outline: 2px solid teal;
  padding: 5px;
}
.right-content p {
	margin:40px 0 150px;
  outline: 2px solid teal;
  padding: 5px
}

.clickcontainer {
  outline: 2px solid grey;
  position: absolute;
  display: inline-block;
  width: 300px;
  height: 500px;
  top: 500px;
  left: 1250px;
  font-size: 15px;
  padding: 10px
}

h3 {
  font-size: 30px;


}

.poptag {
  position: absolute;
  left: 200px;
  top: 180px;
  background-color: #d9d9d9;
  padding: 15px;
  width:100%;
  border-bottom: solid black;
  border-width: 1px;

}

.tag {
  position: relative;
  top: 0px;
  display: inline-block;
  text-align: center;
}

.header {
  font-size: 35px;
  font-family: "Times New Roman", Georgia, Serif;
  font-weight: bold;
}

.trending {
  position: absolute;
  left: 0px;
  top: 140px;
  width:100%;
  height: 300px;
  padding:15px;
  background-color:white;
  border-top: solid black;
  border-bottom: solid black;
  border-width: 1px;
}

.new {
  position: absolute;
  left: 0px;
  top: 450px;
  width:100%;
  height: 250%;
  padding:15px;
  background-color:white;
  border-bottom: solid black;
  border-width: 1px;
}

.btn {
  margin-right: 20px;
  background-color: white;
}
