.about-us-Header {
  font-size: 40px;
  position: absolute;
  left: 15%;
  top: 10%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.CoverPhoto {
  position: absolute;
  left: 55%;
  top: 20%;
}
