body {
  font-family: 'Oxygen';
}
  {
   padding:0px;
   margin:0px;
  }

  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
  body {
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bea2e7+0,86b7e7+100 */
    background: #bea2e7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bea2e7', endColorstr='#86b7e7',GradientType=0 );
    /* IE6-9 */
  }
