.content-header {
  position: absolute;
  left: 228px;
  top: 150px;
  right: -200px;
  width: 82%;
  padding: 5px;
  outline: 1px solid #ccc;
  border-radius: 6px;
  text-align: left;
  color: black;
  font-size: 15px;
}

h2{
  font-size: medium
}
