.content-header {
  position: absolute;

  top: 10%;
  left:  5%;
  right: 5%;
  width: 82%;
  padding-left: 15px;
  padding-right: 15px;
  border-color: 1px solid #ccc;
  border-radius: 6px;
  text-align: left;
  color: black;
  font-size: 15px;
  border-width: .5px;
  border-style: solid;
  padding-bottom: 5px;
  margin: 0px 155px 1% 155px;
}

h2{
  font-size: medium
}

.bill-section {
   border-width: 0px;
   border-bottom-width: .5px;
   border-color: black;
   border-style: dashed;
   padding-top: 10px;
}
