/*datamap*/
svg {
   margin-top: 4%;
  height : 650px;

}

.member-profile-view {
  border-style: solid;
  border-color: rgb(224, 235, 235);
  border-width: .5px;
  margin-top: 5%;
  margin-left: 12%;
  padding: 20px;
  position:absolute;
  /*display: inline-block;*/
}

.member-profile-image {
  display: inline-block;
  border-style: solid;
  border-color: rgb(224, 235, 235);
  border-width: .5px;
  margin: -2px;
  padding: 15px;
}

.member-officials {
  height: 300px;
  margin-left: 2%;
}

.member-name {
  font-size: 25px;
  margin: 0px;
  float: left;
  margin-left: 15px;
}

.member-header {
  margin: 0px 0px 0px 13%;
  background-color : #008DD5;
  padding: 10px;
  color: white;
  height: 50px;
}

.member-container {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224, 235, 235);
  border-radius: 3px;
}

.member-middle {
  margin: 0px 0px 0px 100px;
}

.member {
  width: 50px;
  display: inline-block;
  margin: 10px;
  background-color: rgb(232, 235, 239);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224, 235, 235);
  border-radius: 3px;
  padding: 8px;

}
.member-page-content-officials {
  margin-top: 60px;
}
