/*top navbar*/
.topnav {
 overflow: hidden;
 background-color: #ffffff ;
 height:10%;
 /*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
 border-bottom: 1px solid #ccc;
}
/*real nav bar*/
.nav-container-fluid{
background-color: white;
}

/*top navbar setup*/
.topnav a {
 float: right;
 display: inline;
 color: black;
 text-align: center;
 padding: 14px;
 text-decoration: none;
 font-size: 17px;
 background-color: white;
}

/*Joe's Nav-bar CSS*/
/*Navbar*/


a > span {
  color: white;
}

#nav-image {
  margin-left: 0px;
  margin-bottom: 0px;
  display: inline-block;
  vertical-align: top;
  width: 45px;
  height: 10%;
  padding: 18px 10px;
}


.navbar-right {
  margin-right: 15px;
  /*padding-top: 10px;*/
  margin-top: 10px;
}

.navbar {
 /* background-color: #f8f8f8; */
  margin-bottom: 1px;
 border-bottom: 1px solid #ccc;
  background-color: #ffffff ;
 ;
}

.nav>li>a {
  padding: 0px;
}

#wrapper {
  margin-top: 60px;
}

/*end of Joe's shit/

/*hover turn gray*/
/*.topnav a{*/
 /*background-color: #ffffff;*/
 /*border-bottom: 1px solid #ccc;*/
/*}*/

.navbar-default {
  min-height:20px;
  background-color: white;
 }

/*Sign Up is red*/
.topnav a.active {
   background-color: tomato;
   color: white;
}
