/*Header*/
.rate-header {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 10%;
  left: 50%;
}


/*Profile Image*/
.rate-profile-image {
  position: absolute;
  top: 25%;
  left: 19%;
  border: none;
}

/*Profile Info*/
.rate-profile-info {
  position: absolute;
  top: 23%;
  left: 40%;
  font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  width: 40%;
  height: 50%;
  margin: 0;

}

/*List Format of political info*/
.rate-profile-info ul {
  list-style-type: none;
}
.rate-profile-info li {
  padding-top: 15px;
}

.socialmedia {
  position: absolute;
  top: 25%;
  left: 60%;
  font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  width: 40%;
  height: 50%;
  margin: 0;
}

.socialmedia ul img {
  width: 20px;
  height: 20px;

}

.socialmedia ul {
  list-style-type: none;
}

/*Rating of Elected Official*/
.rating-display {
  position: absolute;
  top: 20%;
  left: 19%;
  height: 50px;
  width: 215px;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
}


.dropdown {
    position: absolute;
    top: 520px;
    left: 355px;
    display: inline-block;
}

.dropbtn {
    background-color: #7fd8ff;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: relative;
    left: -295px;
    width: 400px;
    height: 60px;
    background-color: white;
    text-align: left;


}

.dropdown-content a {
    color: black;
    display: block;
}

.dropdown-content a:hover {background-color: rgb(255, 153, 153)}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: rgb(255, 153, 153);
}

/*Star Rating*/
.rating {
  font-size: 30px;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;

}

.rating > label {
  color: black;
  float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;}

.go-button {
  border-radius: 50%;
  background-color: #7fd8ff;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 405px;
  top: 4px;
  font-size: 8px;

}
