/* Search Bar */
.search {
   width: 90%;
   position: absolute;
   padding-top: 25px;
   left: 75px;
}
/*Search Bar attributes*/
.searchTerm {
 float: left;
 width: 90%;
 border: 1px solid #ccc;
 padding: 8px;
 height: 30px;
 border-radius: 4px;
 outline: none;
 color: #ccc;
}

.searchTerm:focus {
 color: black;
}
/*Search Button attributes*/
.searchButton {
 position: absolute;
 right: -110px;
 width: 100px;
 height: 30px;
 line-height: 1.8;
 border: 1px solid #ccc;
 background: white;
 color: gray;
 text-align: center;
 border-radius: 6px;
 cursor: pointer;
 font-size: 15px;
}

.searchButton:hover{
  background-color:#ccc;
  color: white;
}

.wrap {               /* wrap of the searchbar*/
 width:78%;
 position: absolute;
 top: 15%;
 left: 10%;
 display:block;

}
