body {
  text-align: left;
  //margin-left: 50px;
  //background-color: #77D0F9;

}
h1{
color: white;
background-color: #77D0F9;
text-align: center;

}

form{
position: left;
left: 40%;
right: 40%;

}
.form-group1{
color: #77D0F9;
padding-right: 5px;
position: left;
margin-left: 40%;
margin-right: 60%;
}


.form-group2{
  color: #77D0F9;
  padding-right: 5px;
  position: left;
  margin-left: 40%;
  margin-right: 40%;
}

.form-group3{
  color: #77D0F9;
  padding-right: 5px;
  position: left;
  margin-left: 40%;
  margin-right: 40%;
}

.form-group4{
  color: #77D0F9;
  padding-right: 5px;
  position: left;
  margin-left: 40%;
  margin-right: 40%;
}

.form-group5{
  padding-right: 5px;
  position: left;
  margin-left: 40%;
  margin-right: 40%;
}
.form-group6{
  padding-right: 5px;
  position: left;
  margin-left: 40%;
  margin-right: 40%;
}
.form-group7{
  padding-right: 5px;
  position: left;
  margin-left: 40%;
  margin-right: 40%;
}
.form-group8{
  padding-right: 5px;
  position: left;
  margin-left: 40%;
  margin-right: 40%;
}
.login1{
  border-radius: 0px;
  padding: 30px 10px 0px 10px;
  margin-bottom: -100%;
  font-size: 16px;
  line-height: 10px;

}
.login2{
  border-radius: 0px;
  padding: 30px 10px 0px 10px;
  margin-top: -100%;
  font-size: 16px;
  line-height: 10px;
}
input{
    border-radius: 150px;
    border-color: #77D0F9;
    border-style: solid;
    width: 350px;
    margin-top: 15px;
    padding: 0px 10px 0px 10px;
}


.pwconfirm{
  color: red;
  opacity:0;
}
.mailinfo{
  color: red;
  opacity:0;
}
input:focus {outline:0;}

.btn{
    font-size: ="2";
    display: inline;
    border-radius: 150px;
    backface-visibility: hidden;
    background-color: Transparent;
    border: 2px solid #77D0F9 ;
    border-width:3px;
    color: #77D0F9;
    padding: 20px 80px;
    text-align: center;
    text-decoration: black;
    font-size: 16px;
    transition: padding 1s;
}

.btn:hover {
    background-color: #77D0F9;
    color: white;
    padding: 25px 90px;
}
.btn:focus {outline:0;}

.btn2{
    font-size: ="2";
    display: inline;
    border-radius: 150px;
    backface-visibility: hidden;
    background-color: Transparent;
    border: 2px solid #77D0F9 ;
    border-width:3px;
    color: #77D0F9;
    margin-left: 20%;
    padding: 20px 80px;
    text-align: center;
    text-decoration: black;
    font-size: 16px;
    transition: padding 1s;
}

.btn2:hover {
    background-color: #77D0F9;
    color: white;
    padding: 25px 90px;
}
.btn2:focus {outline:0;}

div{
  text-align: left;
  margin-top: 3%;
  padding: 0px 10px 5px 10px;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
